<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="prospectService" class="sonixbp.services.impl.AccumuloProspectorService">
        <constructor-arg index="0" ref="accumuloConnector"/>
    </bean>

    <bean id="mockTripleGen" class="sonixbp.support.mock.MockTripleGenerator"/>

    <bean id="prospectorGenerator1" class="sonixbp.support.mock.MockProspectorGenerator" init-method="generateMockProspect">
        <constructor-arg index="0" ref="accumuloConnector"/>
        <constructor-arg index="1"><bean id="time" class="java.lang.System" factory-method="currentTimeMillis"/></constructor-arg>
        <constructor-arg index="2" ref="mockTripleGen"/>
    </bean>



    <bean id="accumuloConnector" class="sonixbp.support.AccumuloConnectorFactory" factory-method="getConnector">
        <constructor-arg index="0"><bean id="instance" class="org.apache.accumulo.core.client.mock.MockInstance"/></constructor-arg>
        <constructor-arg index="1" value="username"/>
        <constructor-arg index="2" value="password"/>
    </bean>
</beans>

